.faqContainer {

}

.faqContainer .faqItem {
    padding: 1rem ;
    list-style: none;
    /* border-bottom: 1px solid var(--header-border-bottom); */
    background: rgba(255, 255, 255, 0.8);
}

.faqContainer .faqItem:hover{
    background-color: var(--pulse-blue);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.faqContainer .faqItem .question {
    font-weight: bold;
    cursor: pointer; 
} 

.faqContainer .faqItem .answer {
    font-style: italic;
    padding: 0.5rem;
} 
