.section {
    width: inherit;
}

.section select {
    width: fit-content;
    font-size: 1.05em;
    padding: .25em .5em;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
}

.inputContainer label {
    margin-right: 1rem;
    font-weight: bold;
    color: var(--nav-text-color);
}

.inputContainer input[type="search"] {
    padding: .25em .5em;
}

.memberDisplay {
    width: 100%;
    margin-top: 1rem;
}

.memberDisplay p {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid gray;
}

.memberDisplay span {
    font-size: 1.05rem;
}

.memberDisplay label {
    margin-left: 1rem;
}

.memberDisplay label span {
    margin-left: 1rem;
}

.submitBtn {
    width: 10em;
    background-color: var(--light-border-blue);
    padding: .5em 1em;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid var(--header-border-bottom);
    font-size: 1.15em;
    color: var(--default-white);
    cursor: pointer;

    transition: all 0.2s ease;
}

.submitBtn:hover {
    background-color: var(--default-white);
    color: var(--light-border-blue);
    box-shadow: 0 0 2px var(--light-border-blue);
}