.right-section {
    display: flex;
    flex-direction: column;
    flex: 1; /* Takes up remaining space */
    margin-left: var(--app-sidebar-width);
    position: relative; /* For absolute positioning of child elements */
  }

@media screen and (max-width: 600px) {
  .right-section {
    width: 100%;
    margin-left: 0;
  }
}