.footer {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--app-public-footer-padding-top-bottom);
    border-top: 1px solid #ccc;
  }
  
  
.footer-content{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  
.footer-copyright{
    display: flex;
    gap: 1rem;
  }
  
  
  
.footer-links a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
  }

.footer-links a:hover{
  border-bottom: 3px solid #005999; 
}

@media screen and (max-width: 768px) {
  .footer{
    display: block;
    padding-left: 1em;
  }

  .footer-content {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
  }

  .footer-copyright {
    display: flex;
    justify-content: left;
    width: 100%;
  }

  .footer-links a {
    display: block;
    text-decoration: underline;
    width: fit-content;
    color: #333;
    padding: 0;
    margin-top: 1em;
    transition: background-color 0.3s, color 0.3s;
  }
}
  
@media screen and (max-width: 479px) {
  
}
@media screen and (max-width: 375px) {
  
}