.section {
    background: linear-gradient(var(--light-border-blue) 0%, var(--pulse-blue) 80%);
    min-height: 80vh;
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section form {
    background-color: var(--default-white);
    padding: 1rem 3rem;
    text-align: center;

    border-radius: 5px;
    box-shadow: 0px 0px 15px var(--nav-text-color);
}

.section form .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section form .form-body{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    gap:0.5rem;
}
.section form .form-footer{
    border-top: 1px solid var(--header-border-bottom);
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}

.section form label {
    font-weight: bold;
    font-size: 1.05em;
    color: var(--nav-text-color);
}

.section form input {
    width: 100%;
    margin: .25em auto 1em;
    padding: .5em 1em;
    border-radius: 20px;
    border: 1px solid var(--header-border-bottom);
    font-size: 1.15em;
    color: var(--nav-text-color);
}

.section form input:focus-visible {
    border: 1px solid var(--light-border-blue);
    outline: none;
}

.section form button {
    width: 100%;
    background-color: var(--light-border-blue);
    margin: .25em auto 1em;
    padding: .5em 1em;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid var(--header-border-bottom);
    font-size: 1.15em;
    color: var(--default-white);
    cursor: pointer;

    transition: all 0.2s ease;
}

.section form h2 {
    font-weight: normal;
    color: var(--nav-text-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section form h2 span {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pulse-blue);
}

.section form button:hover {
    background-color: var(--default-white);
    color: var(--light-border-blue);
    box-shadow: 0 0 2px var(--light-border-blue);
}



.section form div a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--light-border-blue);
    border-bottom: 1px solid transparent;

    transition: all 0.1s ease;
}

.section form div a:hover {
    border-bottom: 1px solid var(--light-border-blue);
}