

.contactInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInfo {
    margin: 1rem 0;
    font-size: 1rem;
    color: #333;
}

.contactInfo p {
    padding: 1rem 0;
}

@media screen and (max-width: 600px) {
    .contactInfo {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        padding-top: 1em;
    }

    .contactInfo p {
        padding: 0;
    }
}