*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-weight:400;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* min-height: 100vh; */
    /* padding-top: 7rem;  */
}

#root {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a,
input,
label {
    font-size: 1em;
    
}

h1,
h2 {
    font-size: 2em;
    /* font-family: "Inter"; */
}

:root {
    --pulse-blue: #005999;
    --pulse-blue-hover: #0086e6;
    --nav-text-color: #333;
    --default-white: #fff;
    --header-border-bottom: #ccc;
    --light-border-blue: #0086e6;
    --textbox-light-blue: #E8F0FE;
    --error-red: #ff2c2c;
    --success-green: #008000;
    --table-alternate-row-color: rgb(237 238 242);
    --app-desktop-width:60rem;
    --app-sidebar-width: 250px;
}


@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }



}
 
@media screen and (max-width: 479px) {
  
}
@media screen and (max-width: 375px) {
  
}
