* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

a {
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-size: 2em;
    font-family: "Inter";
}

:root {
    --pulse-blue: #005999;
    --nav-text-color: #333;
    --default-white: #fff;
    --header-border-bottom: #ccc;
}