.main {
    flex: 1; /* Takes up remaining vertical space */
    display: flex;
    flex-direction: column;
    
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto; /* Scrollable content */
    margin-top: var(--app-header-height);
    min-height: calc(100vh - var(--app-header-height)); /* Full height minus header */

}

.main section {
    background-color: white; /* White background */
    padding: 20px;
    border-radius: 12px; /* Rounded borders */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
    /* max-width: 500px; */
    /* margin: 40px auto; */
    display: flex;
    flex-direction: column;
}